#HFS {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Console", Arial, Helvetica, Swiss, sans-serif;
  font-size:11px;
  padding:0 0;
  text-decoration:none;
  margin: 0 auto;
}

#HFS input, #HFS select {
    border-color: #ADADAD #AAAAAA #BBBBBB;
    border-style: solid;
    border-width: 1px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Swiss,sans-serif;
    font-size: 11px;
    margin: 1px;
    padding: 1px;
    vertical-align: middle;
}
#HFS img.icon {
    margin-top: -1px;
    vertical-align: middle;
	border:none;
}

#HFS .map_api_switch	input				{ border:none; }
#HFS #himMSGCheckbox,
#HFS #show_tmc,
#HFS #linelayer,
#HFS #bikelayer							{ border:none; }


#screenDiv		{ position:relative; }

.map_app		{ position:absolute; width:250px; z-index:100; background:transparant; transition:opacity 0.8s; opacity:1; }
.map_app .dragbar		{ text-align: left; cursor:move; margin-bottom:5px; padding-right:55px; }
.map_app .dragbar span	{
	display:inline-block;
	height:50px;
	width:100%;
	background:#ECECEC;
	font-size:14px;
	line-height:50px;
	text-transform:uppercase;
	box-shadow:3px 3px 0px rgba(0,0,0,0.3);
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left:10px;
	font-weight:bold;
}
#HFS .map_app .dragbar img.app_dragbar_button	{
	height:50px;
	width:50px;
	position:absolute;
	right:0px;
	top:0px;
	border-top-right-radius:15px;
	box-shadow:3px 3px 0px rgba(0,0,0, 0.3);
	cursor:pointer;
}
.map_app .app_content	{ padding:10px 5px; background:#ECECEC; box-shadow:3px 3px 0px rgba(0,0,0, 0.3); }
.map_app .app_content .app_sep { border-top: 1px solid #bdbdbd; margin: 8px 0; }
.map_app .label			{ font-weight:bold; font-size:11px; color:#666; }
.map_app .front			{ display:inline-block; width:50px; padding-left:5px; }
img.product				{ width:22px; height:22px; }


.map_app .options		{ border:1px solid #F0F0E8; border-top:none; padding:4px; background:#FAFAF6; }
.option_button			{ float:right; margin:4px; cursor:pointer; }

.map_app #reach_product_holder img.product,
#HFS .map_app .station_list_products img.product		{ margin-right:0px; }

.app_sub_header			{ font-weight: bold; padding: 5px 0px; }


#screenDiv .ajaxmapdiv	{ height:100%; width:100%; }

.map_app #reachMapErrorText	{ width:auto; }


.fullmap_menu_div			{ cursor:default; background:#FAFAF6; border:1px solid #E76D31; position:absolute; top:0px; right:0px; width:150px; display:none; }
.fullmap_menu_div h1			{ font-size:12px; font-weight:bold; color:#fff; background:#E76D31; margin:0; padding:5px; }
.fullmap_menu_div p			{ padding:5px; }
.fullmap_menu_div img.close	{ position:absolute; right:5px; top:5px; cursor:pointer; }
.fullmap_menu_div input		{ margin:2px 3px;}


.map_app input					{ margin:2px 3px; }

#searchBar{
   position:absolute;top:2px;left:250px;width:auto;z-index:10000;padding:10px;
   border-radius:0 0 0px 20px;
   background: #ECECEC;
   box-shadow:3px 3px 0px rgba(0,0,0,0.3);
}

#searchBar input	{ width:200px; padding:5px 10px; border-radius:0 0 0 15px; }


#HFS .map_app input.button,
#HFS .map_app input.inactivButton,
#HFS .map_app button.inactivButton				{ border-radius:3px; border:1px solid; box-shadow:1px 1px 3px #ccc; padding:3px 5px; border-color:#999; }
#HFS .map_app button.button					{ padding:0px; }
#HFS .map_app input.button	,
#HFS .map_app button.button					{ background:#000; color:#fff; border:0px none; cursor:pointer; box-shadow:3px 3px 0px rgba(0,0,0,0.3); border-radius:0px 0px 15px 0px; padding:4px 6px; margin:3px; }
#HFS .map_app input.button:hover,
#HFS .map_app button.button:hover				{ }
#HFS .map_app input.inactivButton,
#HFS .map_app input.inactivButton:hover,
#HFS .map_app button.inactivButton:hover				{ background:#efefef; color:#999; border-color:#999; }
#HFS .map_app button.button:active			{ box-shadow:none; }

/* ##################### LiveMap #################### */

#HFS .productSelector .prodItem			{ width:45%; float:left; white-space:nowrap; }
#HFS .productSelector .prodItem input		{ margin-right:2px; }
#HFS .map_app #VisibleRoutesContent .color 	{width:13px;height:6px;float:left;margin-left:5px;margin-top:4px;margin-right:5px; box-shadow:1px 1px 2px #aaa; transform:rotate(-25deg); }
#HFS .map_app #VisibleRoutesContent .colorLine	{ height:2px; width:13px; margin-top:2px; opacity:0.7; filter:alpha(opacity=70); }
#HFS .map_app #VisibleRoutesContent .color,
#HFS .map_app #VisibleRoutesContent .name,
#HFS .map_app #VisibleRoutesContent input		{ float:left;  }
#HFS .map_app .livemapLineMenuItem input			{ border:none; }

#HFS #trackwindowId						{ font-weight:bold; margin-left:4px; }

/* ##################### HIM ######################### */

#HFS #himMessageList			{ height:250px; overflow-y:scroll; border:1px solid #999; box-shadow:0px 0px 55px 4px #e0e0e0 inset; }
#HFS #himMessageList .msg	{ padding:4px;  border-bottom:1px solid #ccc; }
#HFS #himMessageList .msg span	{ display:inline-block; padding-left:5px; width:180px; }
#HFS #himMessageList .msg img		{ vertical-align:top;  }
#HFS #himMessageList .msg:hover	{ background:#CEE3D4; cursor:pointer; }

#HFS .wrongInput					{ background:#fdd; color:#a00; }

#him_msg_top #msg_header			{ font-weight:bold; width:180px; display:inline-block; }
#him_msg_top #himMSGIconLine,
#him_msg_top #himMSGIconPin		{ vertical-align:top; margin-right:10px; }
#him_mgs_content .time			{ color:#777; }
#him_mgs_content .time span		{ color:#000; }
#him_mgs_content #him_msg_text     { padding:5px; max-height:250px; overflow-y:auto; border:1px solid #999; box-shadow:0px 0px 55px 4px #e0e0e0 inset; }
#him_mgs_content #him_msg_text ul	{ padding-left:20px; }
#him_mgs_content #him_msg_lines_content,
#him_mgs_content .time			{ margin-left:15px; }
#him_mgs_content  span.line		{ cursor:pointer; color:#4789C6; font-weight:bold; }

#HFS div.prodItem			{ margin-bottom:2px; }

#HFS .map_app #himReloadImg	{ margin-left:74px; }

/* Stops und POIS */

#HFS span.productSmall img,
#HFS .map_app .colicon img,
#HFS .map_app .colicon span		{ vertical-align:middle; }


/* ################################ infobox #####################  */
.livemapInfobox	.head {
	white-space:nowrap;
	padding:0px 0px 10px 0px;
	font-size:14px;
	line-height:20px;
	margin-right:20px;
	min-width:350px;
}

.livemapInfobox	.head strong {
	font-weight:bold;
	text-transform:uppercase;
}

.livemapInfobox table.stationList {
	border-collapse:collapse;
	width:100%;
}

.livemapInfobox table.stationList td {
	font-size:14px;
	padding:3px 0px;
}

.livemapInfobox table.stationList td.sep {
	padding:0px;
	border-top:10px solid #ECECEC;
	border-bottom:10px solid #ECECEC;
}

.livemapInfobox table.stationList td.sep div {
	background:#bdbdbd;
	height:1px;
}

.livemapInfobox table.stationList td.name {
	padding-right:15px;
}

.livemapInfobox table.stationList .late {
	color:#a00;
}

.livemapInfobox table.stationList .onTime {
	color:#0a0;
}

.livemapInfobox .checkboxHolderItem {
	padding:3px 0px;
	font-size:14px;
	display:inline-block;
	width:49%;
	white-space:nowrap;
}



#suggestion div					{ padding-left:20px; }
#suggestion div:hover			{ background-color:#0C4789; }

#HFS #fullmap iframe.jmap_infobox_iframe_bhftafel	{ overflow-y:auto; }

.jmap_infobox_subcontent_standard .jmap_infobox_content_row:first-child { margin-top:15px; }

/* monitortafelabfahrtsgenerator */
div.accessStboardHeader { width:100%;margin-bottom:15px; }
div.accessStboardWrap_big,
div.accessStboardWrap_small { width:23%;margin-left:1%;margin-right:1%;height:300px;float:left;}
div.accessStboardWrap_small { width:48%;}
div.HFSpoiCat img,
div#mapCatStationsContainer	img { vertical-align:middle;}
div.accessMapOptionsBg { margin-bottom:40px; }
ul.accessMapToggleOptions { list-style-type:none; margin:0px; padding:0px;}
ul.accessMapToggleOptions li { float:left; padding: 4px; cursor:hand;cursor:pointer; margin-right:5px; font-weight:bold;}
ul.accessMapToggleOptions li.active { background-color:#008A6D;color:#fff; }

.clusterInfoboxContent { padding:5px; max-height:250px; overflow-y:auto; overflow-x:hidden; }
.clusterInfoboxContent .clusterRow { border-bottom:1px dashed rgba(0,0,0,0.3); width:280px; }
.clusterInfoboxContent .clusterItem { margin:8px 0px; cursor:pointer; }
.clusterInfoboxContent .clusterItem:hover { color:#19579A; }
.clusterInfoboxContent .clusterRow:last-child { border:none; }

#HFS .languageSelect  { position:absolute; left:520px; top:2px; z-index:1000; }
#HFS .languageSelect a {
	display:inline-block;
	padding:10px 0px;
	line-height:32px;
	font-size:12px;
	color:#666;
	cursor:pointer;
	margin-right:0px;
	box-shadow:3px 3px 0px rgba(0,0,0,0.3);
	background:#ECECEC;
	font-weight:bold;
	text-align:center;
	width:35px;
	text-decoration:none;
}

#HFS .languageSelect a:first-child { border-radius:0px 0px 0px 25px; }

#HFS .languageSelect a:hover { text-decoration:underline; color:#000; }
#HFS .languageSelect.select_fin a.fin,
#HFS .languageSelect.select_eng a.eng,
#HFS .languageSelect.select_swe a.swe { background:#EAAB00; color:#000; }
