/* hafas_2007_calendar.css */
/* ======================= */

/* #FF9E10 */
#HFS table.calendar .header,
#HFS table.calendar .buttons,
#HFS table.calendar                      {width:220px; background-color: #f9f9f9; cursor: default; }
#HFS table.calendar td                   {height: 18px; text-align: center;cursor: default; color:#003336; padding: 1px 3px; width:20px; }
#HFS table.calendar th                   {color : #001f2f;border-bottom: 1px solid #0C4789; border-top: 1px solid #0C4789; text-align: center;width:auto; padding: 4px;}

#HFS table.calendar			{ border-collapse: collapse; }

#HFS table.calendar th.heading_months_disabled {
	background:#0D498B; border-top:1px solid #0D498B; color:#fff;  cursor:default;
	background: -moz-linear-gradient(top,  #104E92 0%, #4E91CD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#104E92), color-stop(100%,#4E91CD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #104E92 0%,#4E91CD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #104E92 0%,#4E91CD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #104E92 0%,#4E91CD 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #104E92 0%,#4E91CD 100%); /* W3C */
	color:#fff;
}

#HFS table.calendar th.heading_daynames { background:#CAE1F1;}

#HFS table.calendar td					{ }
#HFS table.calendar td.weekno			{ background:#ccc;  }

#HFS table.calendar td.disabled		{ background:#eee; }
#HFS table.calendar td.enabled:hover	{ background:#CAE1F1; cursor:pointer; }

/* Verkehrstagekalendar */
#HFSResult table.calendar                {width:auto;}
#HFSResult table.calendar th             {font-size:12px;}

#HFS table.calendar td.active            {background:#0C4789; color:#fff; cursor:pointer;}
#HFS table.calendar td.active:hover      {}

#HFS table.calendar th.nextMonth              {border:0px;}
#HFS table.calendar th.nextMonth:hover        {background-color:#CAE1F1; color:#000; cursor:pointer;}
#HFS table.calendar th.prevMonth              {border:0px;}
#HFS table.calendar th.prevMonth:hover        {background-color:#CAE1F1; color:#000; cursor:pointer;}
#HFS #HFSContent a.close-button               {width:15px; height:15px;}
*+html #HFS #HFSContent a.close-button        {display:block; padding:0px; margin:5px 0px;}
#HFS #HFSContent a.close-button:hover         {background-color: transparent;}
#HFS div.calendardiv                          {width: 220px; background-color: #fff; border: #ccc 1px solid; padding: 8px;cursor: default;z-index: 100; box-shadow:3px 3px 12px #999; border-radius:10px; }
#HFS .calendar_iframe                    {position:absolute; width:220px; height:190px; background-color:#f9f9f9; cursor:default; z-index:0;}

#HFS .calendardiv a.close-button { display:inline-block; width:11px; height:11px; border:1px dotted #0C4789; }

